/*set the font size for the whole html from google fonts-Ek Mukta*/
@import url('https://fonts.googleapis.com/css?family=Ek+Mukta');
* {
	font-family: 'Ek Mukta', sans-serif !important;
}

header, address{
	color: #f5f5f5;
	padding: 1em;
	text-align: center;
	clear: right;
}

.grad {
	background: hsla(0,0%,36%,0.75); /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(hsla(0,0%,36%,0.5), hsla(0,0%,36%,1)); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(hsla(0,0%,36%,0.5), hsla(0,0%,36%,1)); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(hsla(0,0%,36%,0.5), hsla(0,0%,36%,1)); /* For Firefox 3.6 to 15 */
	background: radial-gradient(hsla(0,0%,36%,0.5), hsla(0,0%,36%,1)); /* Standard syntax */
}


/* For full screen or print: */
@media screen and (min-width: 480px) {
	.position {
		border-radius: 50%;
		float: right;
	}
}

/*for cell-phone:*/
	.position {
	border-radius: 50%;
	display: block;
	margin: auto;
	}

nav {
	font-size: 130%;
	text-align: center;
	text-decoration: none;
	margin: 0;
}

nav ul {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
}

nav li {
	padding: 40px;
	display: inline;
	text-decoration: none;
}

nav ul a:link {
	color: black;
	text-decoration: none;
}

nav ul a:visited {
	color: black;
	text-decoration: none;
}

article {
	margin-left: 5%;
	margin-right: 5%;
	overflow: hidden;
}

ul {
	text-decoration: none;
	list-style-image: url("bullet point.png");
}

